{% extends 'base.html' %}
<!DOCTYPE html>
{% comment %} <html>
<head>
    <title>Food Marts</title>
    </head>
<body>
    <nav>
        <a class='a' href="Annavinna">Annavinna</a>
        <a class='a' href="Annavinna">Search</a>
    </nav> {% endcomment %}
    {% block content %}
    <div class="">
        <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border h-50">
        </div>
        <div class="">
          <div class="flex items-center justify-between mb-2">
            <h1 class="text-3xl font-['Kode_mono'] font-bold leading-relaxed text-amber-100 text-center w-full bg-amber-900">
               Food Providers
            </h1>
          </div>
          <ul class="flex w-full flex-wrap gap-5 justify-center mt-5 font-['Roboto']">
            {% for foodmart in foodmarts %}
                <li class="w-[300px] bg-amber-50 py-5 rounded-xl text-center shadow-xl text-amber-900">
                    <h2 class="font-bold text-xl mb-5 bg-amber-900 py-2 text-amber-100">{{ foodmart.name }}</h2>
                    <p><span class="font-semibold">Description</span>: {{ foodmart.description }}</p>
                    <p><span class="font-semibold">Pincode</span>: {{ foodmart.pincode }}</p>
                    {% if foodmart.lat and foodmart.lon %}
                        <p><span class="font-semibold">Address</span>:{{foodmart.address}}</p>
                        <p><span class="font-semibold">Call</span>:{{foodmart.phone_number}}</p>
                        <p><span class="font-semibold">Quantity</span>:{{foodmart.quantity}}</p>
                    {% endif %}
                </li>
                {% endfor %}
        </ul>
        </div>
        <div class="p-6 pt-0">
        </div>
      </div>
    {% endblock %}

{% comment %} </body>
</html> {% endcomment %}

