<h2 style="margin-top: 0; font-weight: bold; color: #333; border-bottom: 1px solid #ccc; padding-bottom: 10px;">Nearest FoodMart</h2>
<div style="background-color: #f9f9f9; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <p style="margin-bottom: 10px;"><span style="font-weight: bold;">Name:</span> {{ nearest_foodmart.name }}</p>
    <p style="margin-bottom: 10px;"><span style="font-weight: bold;">Description:</span> {{ nearest_foodmart.description }}</p>
    <p style="margin-bottom: 10px;"><span style="font-weight: bold;">Pincode:</span> {{ nearest_foodmart.pincode }}</p>
    <p style="margin-bottom: 10px;"><span style="font-weight: bold;">Distance:</span> {{ distance }} km</p>
</div>